.not-found{
    font-size: 1000%;
    color: black;
    text-align: center;
    padding-top: 90px;
    opacity: 0.5;
    text-shadow: 2px 2px red;
}

.err-msg{
    font-size: 300%;
    text-shadow: 2px 2px red;
}

.err-btn{
    background-color: transparent;
    color: black;
    display: inline-block;
    padding: 15px 17px;
    border-radius: 15px;
    text-decoration: none;
    border: 2px dotted red;
}

.err-btn:hover{
    background-color: transparent;
    opacity: 0.8;
    color: black;
    display: inline-block;
    padding: 17px 19px;
    border-radius: 18px;
    text-decoration: none;
    border: 2px dotted blue;
}