*{
  margin-bottom: 0px;
  padding-top: 0px;
  box-sizing: border-box;
}


.content {
    max-width: 400px;
    margin: auto;
    padding-right: 10px;
  }
  
  input{
    width: 110%;
    padding: 1px;
    border-top: none;
    outline: none;
    border: transparent;
    border-left: none;
    border-right: none;
    box-shadow: 2px 2px greenyellow;
  }
  
  input:hover{
    width: 90%;
    padding: 9px;
    border: none;
    border: transparent;
    outline: none;
    box-shadow: 3px 3px skyblue;
  }
  
  button{
    width: 70%;
    border: transparent;
    box-shadow: 2px 2px greenyellow;
    height: 38px;
    background-color: skyblue;
    font-weight: bold;
    font-size: 20px;
  }
  
  button:hover{
    width: 60%;
    border: transparent;
    filter: opacity(3);
    outline: none;
    box-shadow: 2px 2px skyblue;
    height: 42px;
    background-color: greenyellow;
    font-weight: bold;
    font-size: 17px;
  }