.background{
    background-color: #1A2226;
    box-shadow: 3px 3px #0DB8DE;
    color: #fff;
}

.contact-background{
    background-color: black;
}

#git{
    color: #1A2226;
    font-size: 50px;
    font-family: Sofia;
    text-shadow: 2px 2px #0DB8DE;
}

#cntc input[type="text"]{
    width: 30%;
    height: 55px;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#cntc input[type="text"]:hover{
    width: 33%;
    height: 70px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid greenyellow;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}


#cntc input[type="email"]{
    width: 30%;
    height: 55px;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#cntc input[type="email"]:hover{
    width: 33%;
    height: 70px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid greenyellow;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#cntc input[type="number"]{
    width: 30%;
    height: 55px;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#cntc input[type="number"]:hover{
    width: 33%;
    height: 70px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid greenyellow;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#cntc textarea{
    width: 60%;
    height: 165px;
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}


#cntc textarea:hover{
    width: 68%;
    height: 178px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid greenyellow;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

#msg-btn{
    outline: none;
    width: 22%;
    height: 50px;
    box-shadow: 1px 1px #0DB8DE;
    font-family: Audiowide;
    color: white;
    text-shadow: 1px 1px #0DB8DE;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none; ;
    background-color: transparent;
}

#msg-btn:hover{
    outline: none;
    width: 22%;
    height: 50px;
    box-shadow: 1px 1px greenyellow;
    font-family: Audiowide;
    color: ivory;
    text-shadow: 1px 1px greenyellow;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none; ;
    background-color: transparent;
}